body {
    background-color: deepskyblue !important;
}

section {
    width: 400px;
    border: 2px solid black;
    margin: 30px auto;

    .card-header {
        padding: 20px;
    }

    .card-body {
        ol {
            padding: 0 10px;
            margin-bottom: 0;

            li {
                display: flex;
                justify-content: space-between;

                label {
                    padding-left: 5px;
                }
            }
        }
    }
}

h1 {
    text-align: center;
}

#todo-input {
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 10px;
}